#blockMainComponents {
  padding-top: 4pc;
  margin-bottom: 4pc;
  .blockMainComponents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .blockMainComponentsNav {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 700px;
      h1 {
        color: rgb(255, 255, 255);
        font-family: Jost;
        font-size: 64px;
        font-weight: 800;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        width: 600px;
      }
      p {
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 2pc;
        padding-bottom: 1pc;
        width: 500px;
      }
      button {
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: left;
        width: 219px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 46px 15px 46px;
        border-radius: 10px;
        box-shadow: inset 0px -4px 0px 0px rgba(255, 255, 255, 0.25);
        background: linear-gradient(
          95.71deg,
          rgb(111, 125, 255) 1.601%,
          rgb(127, 14, 217) 80.581%
        );
      }
      .blockMainComponentsMini {
        width: 808.34px;
        height: 391px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2pc;
        align-items: start;
        border-radius: 7px;
        background: linear-gradient(
          95.71deg,
          rgb(111, 125, 255) 2.651%,
          rgb(127, 14, 217) 79.942%
        );

        .blockMainComnonentsMiniInsade {
          display: flex;
          align-items: center;
          .blockMainComnonentsMiniInsadeInfo {
            h1 {
              color: rgb(255, 255, 255);
              font-family: Open Sans;
              font-size: 35px;
              font-weight: 700;
              line-height: 48px;
              letter-spacing: 0%;
              text-align: left;
              width: 300px;
            }
            p {
              color: rgb(255, 255, 255);
              font-family: Open Sans;
              font-size: 20px;
              font-weight: 600;
              line-height: 27px;
              padding: 15px 0px 20px 0;
              letter-spacing: 0%;
              text-align: left;
            }
            button {
              color: rgb(255, 255, 255);
              font-family: Open Sans;
              font-size: 14.05px;
              font-weight: 600;
              line-height: 23px;
              text-align: left;
              width: 270.92px;
              height: 48.59px;
              border: none;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              border-radius: 24.72px;
              background: rgb(12, 70, 156);
            }
          }
          .blockMainComnonentsMiniInsadeImage img {
            width: 300.5px;
          }
        }
        .blockMainComponentsMiniP {
          p {
            width: 700px;
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 66px;
          }
        }
      }
    }
    .blockMainComponentsImage {
      position: relative;
      img {
        width: 600px;
        height: 710px;
        object-fit: cover;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
      .blackMainComponentsImageBlock {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgb(0, 13, 47);
        padding: 10px 10px 0px 0px;
        border-top-right-radius: 10px;

        .blockMainComponentsImageInfo {
          width: 210px;
          height: 70px;
          display: flex;
          align-items: flex-start;
          padding-left: 1pc;
          justify-content: center;
          flex-direction: column;
          border-radius: 4px;
          box-shadow: 0px -1px 12.6px -4px rgba(255, 255, 255, 0.6);
          background: linear-gradient(
            -86.94deg,
            rgb(111, 125, 255) -12.379%,
            rgb(127, 14, 217) 85.152%
          );

          h3 {
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 19px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
          }
          h4 {
            color: rgb(255, 255, 255);
            font-family: Open Sans;
            font-size: 19px;
            font-weight: 600;
            line-height: 26px;
            margin-top: 0.1pc;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }
      .blockMainComponentsImageButton {
        position: absolute;
        top: 0;
        right: 0;
        background: rgb(0, 13, 47);
        padding: 10px;
        border-bottom-left-radius: 10px;
        button {
          color: white;
          width: 92px;
          height: 84px;
          left: 1528px;
          right: -1528px;
          top: 315px;
          bottom: -315px;
          border-radius: 11px;
          box-shadow: 0px 1px 11.8px 3px rgba(255, 255, 255, 0.25);
          background: linear-gradient(
            95.71deg,
            rgb(111, 125, 255) 4.696%,
            rgb(127, 14, 217) 78.697%
          );
        }
      }
      .blockMainComponentsImageMiniBlock {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100px;
        bottom: 0;
        right: 0;
        background: rgb(0, 13, 47);
        padding: 10px;
        border-top-left-radius: 10px;
        .miniBlock {
          width: 29px;
          height: 29px;
          left: 1591px;
          right: -1591px;
          top: 986px;
          bottom: -914px;
          border-radius: 4px;
          box-shadow: 0px -1px 22.3px -4px rgba(255, 255, 255, 0.6);
          background: rgb(182, 148, 255);
        }
        .miniBlock2 {
          width: 15px;
          height: 13px;
          border-radius: 4px;
          box-shadow: 0px -1px 22.3px -4px rgba(255, 255, 255, 0.6);
          background: rgb(81, 47, 153);
        }
      }
    }
  }
}
