#bottomHeader {
  padding: 20px 0;
  height: 50px;
  bottom: -141px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  .bottomHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bottomHeaderNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 800px;
      a {
        color: rgb(7, 32, 70);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
      }
      a:hover {
        color: rgb(57, 14, 230);
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
      }
    }
    .bottomHeaderCategori {
      position: relative;
      h4 {
        color: rgb(255, 255, 255);
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;

        width: 256px;
        height: 52px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-radius: 25px;
        box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
        background: linear-gradient(
          95.71deg,
          rgb(111, 125, 255) 1.554%,
          rgb(127, 14, 217) 80.609%
        );
      }
      .bottomHeaderSubcategory {
        .bottomHeaderBlockModal {
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          flex-direction: column;
          width: 350px;
          height: 400px;
          padding-top: 20px;
          padding-bottom: 20px;
          display: flex;
          top: 4pc;
          position: absolute;
          background-color: white;
          right: 0;
          h1 {
            color: rgb(1, 22, 62);
            text-align: left;
            font-family: Open Sans;
            width: 100%;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0%;
            padding: 10px 0 10px 5pc;
            text-align: left;
          }
          h1:hover {
            padding: 10px 0 10px 5pc;
            width: 270px;
            background: rgba(101, 104, 179, 0.466);
          }
        }
        .bottomHeaderBlockModal2 {
          width: 480px;
          height: 1306px;
          background: rgb(101, 104, 179);
          z-index: 99;
        }
      }
    }
  }
}
