#bottomHeader {
	padding: 20px 0;
	height: 50px;
	bottom: -141px;
	background: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	.bottomHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.bottomHeaderNav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 800px;
			a {
				color: rgb(7, 32, 70);
				font-family: Open Sans;
				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
			}
			a:hover {
				color: rgb(57, 14, 230);
				font-family: Open Sans;
				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
				letter-spacing: 0%;
				text-align: left;
				text-transform: uppercase;
			}
		}
		.bottomHeaderCategori {
			position: relative;
			h4 {
				color: rgb(255, 255, 255);
				font-family: Open Sans;
				font-size: 15px;
				font-weight: 700;
				line-height: 20px;
				letter-spacing: 0%;
				text-align: left;

				width: 256px;
				height: 52px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				border-radius: 25px;
				box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
				background: linear-gradient(
					95.71deg,
					rgb(111, 125, 255) 1.554%,
					rgb(127, 14, 217) 80.609%
				);
			}
			.bottomHeaderBlockModal {
				width: 206px;
				padding-left: 3pc;
				display: flex;
				top: 4pc;
				right: 0;
				gap: 1pc;
				padding-top: 1pc;
				height: 370px;
				flex-direction: column;
				align-items: start;
				position: absolute;
				background-color: white;
				border-radius: 20px;
				a {
					color: black;
					font-size: 17px;
					font-weight: 500;
				}
				a:hover {
					color: #043899;
				}
			}
		}
	}
}
.bottomHeaderCategoriA {
	position: relative;
	display: none;

	flex-direction: column;
	h4 {
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
		background: none;
		width: 56px;
		height: 52px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: black;
		font-size: 30px;
		border-radius: 25px;
		box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
	}
	.bottomHeaderBlockModalA {
		width: 230px;
		padding-left: 3pc;
		display: flex;
		top: 4pc;
		gap: 1pc;
		padding-top: 1pc;
		height: 310px;
		flex-direction: column;
		align-items: start;
		position: absolute;
		background-color: white;
		border-radius: 20px;
	}
}
@media (max-width: 1210px) {
	#bottomHeader .bottomHeader .bottomHeaderNav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 753px;
	}
}
@media (max-width: 1138px) {
	#bottomHeader .bottomHeader .bottomHeaderNav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 659px;
	}
	#bottomHeader .bottomHeader .bottomHeaderNav a {
		color: rgb(7, 32, 70);
		font-family: Open Sans;
		font-size: 13px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		text-transform: uppercase;
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori h4 {
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
		width: 215px;
		height: 44px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(
			95.71deg,
			rgb(111, 125, 255) 1.554%,
			rgb(127, 14, 217) 80.609%
		);
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori .bottomHeaderBlockModal {
		width: 218px;
		display: flex;
		top: 4pc;
		height: 370px;
		position: absolute;
		background-color: white;
		border-radius: 20px;
	}
}
@media (max-width: 990px) {
	#bottomHeader .bottomHeader .bottomHeaderNav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 563px;
	}
	#bottomHeader .bottomHeader .bottomHeaderNav a {
		color: rgb(7, 32, 70);
		font-family: Open Sans;
		font-size: 13px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		text-transform: uppercase;
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori h4 {
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
		width: 215px;
		height: 44px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(
			95.71deg,
			rgb(111, 125, 255) 1.554%,
			rgb(127, 14, 217) 80.609%
		);
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori .bottomHeaderBlockModal {
		width: 218px;
		display: flex;
		top: 4pc;
		height: 370px;
		position: absolute;
		background-color: white;
		border-radius: 20px;
	}
	.sale {
		display: none;
	}
	.blog {
		display: none;
	}
}
@media (max-width: 908px) {
	#bottomHeader .bottomHeader .bottomHeaderNav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 563px;
	}
	#bottomHeader .bottomHeader .bottomHeaderNav a {
		color: rgb(7, 32, 70);
		font-family: Open Sans;
		font-size: 13px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		text-transform: uppercase;
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori h4 {
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
		width: 215px;
		height: 44px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(
			95.71deg,
			rgb(111, 125, 255) 1.554%,
			rgb(127, 14, 217) 80.609%
		);
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori .bottomHeaderBlockModal {
		width: 218px;
		display: flex;
		top: 4pc;
		height: 370px;
		position: absolute;
		background-color: white;
		border-radius: 20px;
	}
	.sale {
		display: none;
	}
	.blog {
		display: none;
	}
	.popular {
		display: none;
	}
	// .main{
	//   display: none;
	// }
}
@media (max-width: 870px) {
	#bottomHeader .bottomHeader .bottomHeaderNav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 358px;
	}
	#bottomHeader .bottomHeader .bottomHeaderNav a {
		color: rgb(7, 32, 70);
		font-family: Open Sans;
		font-size: 13px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		text-transform: uppercase;
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori h4 {
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
		width: 215px;
		height: 44px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(
			95.71deg,
			rgb(111, 125, 255) 1.554%,
			rgb(127, 14, 217) 80.609%
		);
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori .bottomHeaderBlockModal {
		width: 218px;
		display: flex;
		top: 4pc;
		height: 370px;
		position: absolute;
		background-color: white;
		border-radius: 20px;
	}
	.sale {
		display: none;
	}
	.blog {
		display: none;
	}
	.popular {
		display: none;
	}
	.main {
		display: none;
	}
}
@media (max-width: 674px) {
	#bottomHeader .bottomHeader .bottomHeaderNav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 358px;
	}
	#bottomHeader .bottomHeader .bottomHeaderNav a {
		color: rgb(7, 32, 70);
		font-family: Open Sans;
		font-size: 13px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
		text-transform: uppercase;
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori h4 {
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
		width: 215px;
		height: 44px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(
			95.71deg,
			rgb(111, 125, 255) 1.554%,
			rgb(127, 14, 217) 80.609%
		);
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori .bottomHeaderBlockModal {
		width: 218px;
		display: flex;
		top: 4pc;
		height: 370px;
		position: absolute;
		background-color: white;
		border-radius: 20px;
	}
	.sale {
		display: none;
	}
	.blog {
		display: none;
	}
	.popular {
		display: none;
	}
	.main {
		display: none;
	}
	.about {
		display: none;
	}
	.new {
		display: none;
	}
	.info {
		display: none;
	}
	.contacts {
		display: none;
	}
	.bottomHeaderCategoriA {
		display: flex;
	}
}
@media (max-width: 400px) {
	#bottomHeader .bottomHeader .bottomHeaderCategori h4 {
		color: rgb(255, 255, 255);
		font-family: Open Sans;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
		width: 176px;
		height: 40px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		box-shadow: inset 0px -7px 4px 0px rgba(255, 255, 255, 0.25);
		background: linear-gradient(
			95.71deg,
			rgb(111, 125, 255) 1.554%,
			rgb(127, 14, 217) 80.609%
		);
	}
	#bottomHeader .bottomHeader .bottomHeaderCategori .bottomHeaderBlockModal {
		right: 0;
		width: 218px;
		display: flex;
		top: 4pc;
		height: 360px;
		right: 0;
		position: absolute;
		background-color: white;
		border-radius: 20px;
	}
	.sale {
		display: none;
	}
	.blog {
		display: none;
	}
	.popular {
		display: none;
	}
	.main {
		display: none;
	}
	.about {
		display: none;
	}
	.new {
		display: none;
	}
	.info {
		display: none;
	}
	.contacts {
		display: none;
	}
	.bottomHeaderCategoriA {
		display: flex;
	}
}
