#MainComponentsidtovar {
	.MainComponentsidtovar {
		align-items: center;
		justify-content: space-between;
		.MainComponentsidtovar123 {
			margin-top: 2pc;
			padding: 12px;
			border-radius: 3px;
			background: #ffffff;
			color: #5b37c7;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.MainComponentsidtovar1234 {
			margin-top: 2pc;
			padding: 8px;
			height: 3pc;
			border-radius: 3px;
			background: #f6f3f3;
			color: #675d5d;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
