#MainComponentsAnimation {
	margin-top: 3pc;
	.MainComponentsAnimation {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.MainComponentsAnimationCards {
			display: flex;
			justify-content: space-between;
			.MainComponentsAnimationCard {
				display: flex;
				justify-content: space-between;
				width: 420px;
				height: 299px;
				border-radius: 15px;
				background: linear-gradient(
					90deg,
					rgb(255, 172, 75),
					rgb(180, 97, 0) 100%
				);
				.MainComponentsAnimationCardInform {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding-left: 1pc;
					gap: 15px;
					.MainComponentsAnimationCardInformName {
						display: flex;
						flex-direction: column;
					}
					h3 {
						background: linear-gradient(
							238.9deg,
							rgb(255, 209, 155),
							rgb(255, 255, 255)
						);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						text-fill-color: transparent;
						font-family: Open Sans;
						font-size: 40px;
						font-weight: 700;
						line-height: 54px;
						letter-spacing: 0%;
						text-align: left;
					}
					h4 {
						background: linear-gradient(
							238.9deg,
							rgb(255, 209, 155),
							rgb(255, 255, 255)
						);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						text-fill-color: transparent;
						font-family: Open Sans;
						font-size: 40px;
						font-weight: 700;
						margin-left: 4pc;
						line-height: 54px;
						letter-spacing: 0%;
						text-align: left;
					}
					h5 {
						color: rgb(255, 255, 255);
						font-family: Open Sans;
						font-size: 20px;
						font-weight: 400;
						line-height: 27px;
						letter-spacing: 0%;
						text-align: left;
					}
				}
				button {
					width: 180px;
					height: 60px;
					border-radius: 7px;
					font-size: 16px;
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155) 1.126%,
						rgb(255, 255, 255) 169.624%
					);
					border: none;
				}
			}
		}
		.MainComponentsAnimationCardSecond {
			border-radius: 15px;
			display: flex;
			justify-content: space-between;
			width: 420px;
			height: 299px;
			background: radial-gradient(
				207.34% 111.29% at 31% 37%,
				rgb(154, 137, 255),
				rgb(24, 8, 122) 100%
			);
			.MainComponentsAnimationCardInform {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-right: 1pc;
				gap: 15px;
				.MainComponentsAnimationCardInformName {
					display: flex;
					flex-direction: column;
				}
				h3 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h4 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					margin-left: 4pc;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h5 {
					color: rgb(255, 255, 255);
					font-family: Open Sans;
					font-size: 20px;
					font-weight: 400;
					line-height: 27px;
					letter-spacing: 0%;
					text-align: left;
				}
			}
			button {
				width: 180px;
				height: 60px;
				border-radius: 7px;
				font-size: 16px;
				background: linear-gradient(
					238.9deg,
					rgb(255, 209, 155) 1.126%,
					rgb(255, 255, 255) 169.624%
				);
				border: none;
			}
		}
		.MainComponentsAnimationCardThird {
			border-radius: 15px;
			display: flex;
			justify-content: space-between;
			width: 420px;
			height: 299px;
			border-radius: 15px;
			background: radial-gradient(
				183.87% 92.63% at 72% 42%,
				rgb(255, 158, 158),
				rgb(117, 74, 74) 100%
			);
			.MainComponentsAnimationCardInform {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-left: 2pc;
				gap: 15px;
				.MainComponentsAnimationCardInformName {
					display: flex;
					flex-direction: column;
				}
				h3 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h4 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					margin-left: 4pc;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h5 {
					color: rgb(255, 255, 255);
					font-family: Open Sans;
					font-size: 20px;
					font-weight: 400;
					line-height: 27px;
					letter-spacing: 0%;
					text-align: left;
				}
			}
			button {
				width: 180px;
				height: 60px;
				border-radius: 7px;
				font-size: 16px;
				background: linear-gradient(
					238.9deg,
					rgb(255, 209, 155) 1.126%,
					rgb(255, 255, 255) 169.624%
				);
				border: none;
			}
		}
		.MainComponentsAnimationCards2 {
			display: flex;
			justify-content: space-between;
			.MainComponentsAnimationCard {
				display: flex;
				justify-content: space-between;
				width: 420px;
				height: 299px;
				border-radius: 15px;
				background: linear-gradient(
					225.44deg,
					rgb(115, 222, 228) -33.828%,
					rgb(0, 106, 81) 97.325%
				);
				.MainComponentsAnimationCardInform {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding-left: 1pc;
					gap: 15px;
					.MainComponentsAnimationCardInformName {
						display: flex;
						flex-direction: column;
					}
					h3 {
						background: linear-gradient(
							238.9deg,
							rgb(255, 209, 155),
							rgb(255, 255, 255)
						);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						text-fill-color: transparent;
						font-family: Open Sans;
						font-size: 40px;
						font-weight: 700;
						line-height: 54px;
						letter-spacing: 0%;
						text-align: left;
					}
					h4 {
						background: linear-gradient(
							238.9deg,
							rgb(255, 209, 155),
							rgb(255, 255, 255)
						);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						text-fill-color: transparent;
						font-family: Open Sans;
						font-size: 40px;
						font-weight: 700;
						margin-left: 4pc;
						line-height: 54px;
						letter-spacing: 0%;
						text-align: left;
					}
					h5 {
						color: rgb(255, 255, 255);
						font-family: Open Sans;
						font-size: 20px;
						font-weight: 400;
						line-height: 27px;
						letter-spacing: 0%;
						text-align: left;
					}
				}
				button {
					width: 180px;
					height: 60px;
					border-radius: 7px;
					font-size: 16px;
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155) 1.126%,
						rgb(255, 255, 255) 169.624%
					);
					border: none;
				}
				img {
					width: 220px;
				}
			}
		}
		.MainComponentsAnimationCardSecond2 {
			border-radius: 15px;
			display: flex;
			justify-content: space-between;
			width: 420px;
			height: 299px;
			background: radial-gradient(
				213.17% 105.42% at 74% 38%,
				rgb(46, 44, 42),
				rgb(29, 29, 28) 100%
			);
			.MainComponentsAnimationCardInform {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-left: 1pc;
				gap: 15px;
				.MainComponentsAnimationCardInformName {
					display: flex;
					flex-direction: column;
				}
				h3 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h4 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					margin-left: 4pc;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h5 {
					color: rgb(255, 255, 255);
					font-family: Open Sans;
					font-size: 20px;
					font-weight: 400;
					line-height: 27px;
					letter-spacing: 0%;
					text-align: left;
				}
			}
			button {
				width: 180px;
				height: 60px;
				border-radius: 7px;
				font-size: 16px;
				background: linear-gradient(
					238.9deg,
					rgb(255, 209, 155) 1.126%,
					rgb(255, 255, 255) 169.624%
				);
				border: none;
			}
			img {
				width: 200px;
			}
		}
		.MainComponentsAnimationCardThird3 {
			border-radius: 15px;
			display: flex;
			justify-content: space-between;
			width: 420px;
			height: 299px;
			border-radius: 15px;

			background: radial-gradient(
				207.34% 111.29% at 31% 37%,
				rgb(255, 92, 0),
				rgb(77, 28, 0) 100%
			);
			.MainComponentsAnimationCardInform {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 1pc;
				gap: 15px;
				.MainComponentsAnimationCardInformName {
					display: flex;
					flex-direction: column;
				}
				h3 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h4 {
					background: linear-gradient(
						238.9deg,
						rgb(255, 209, 155),
						rgb(255, 255, 255)
					);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: Open Sans;
					font-size: 40px;
					font-weight: 700;
					margin-left: 4pc;
					line-height: 54px;
					letter-spacing: 0%;
					text-align: left;
				}
				h5 {
					color: rgb(255, 255, 255);
					font-family: Open Sans;
					font-size: 20px;
					font-weight: 400;
					line-height: 27px;
					letter-spacing: 0%;
					text-align: left;
				}
			}
			button {
				width: 180px;
				height: 60px;
				border-radius: 7px;
				font-size: 16px;
				background: linear-gradient(
					238.9deg,
					rgb(255, 209, 155) 1.126%,
					rgb(255, 255, 255) 169.624%
				);
				border: none;
			}
		}
	}
}
