* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid black;
  background: none;
  padding: 5px 10px;
}

input {
  border: 1px solid black;
  background: none;
  padding: 5px 10px;
}

select {
  border: 1px solid black;
  background: none;
  padding: 5px 10px;
}

option {
  border: 1px solid black;
  background: none;
  padding: 5px 10px;
}

body {
  background: rgb(0, 13, 47);
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
